
env/*
data/*
dist/*
tub/*
tub1/*
models/*
temp/*

tub_movie.mp4

*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv

.cache
site/*
build

#IDE
.idea
.spyproject

.pytest_cache

.coverage
